.homeSection {
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 80px 24px;
  overflow: hidden;
  margin-top: 140px;
  margin-bottom: 100px;
}

.headerInfo {
  width: 95%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center; /* Vertically centers text and image */
  justify-content: space-between;
  gap: 40px;
}

/* The left side container */
.headerInfo > div:first-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns HeroHeader + AppLinks to the left */
  text-align: left;
}

/* The right side image */
.svg-icon {
  max-width: 50%;
  height: auto;
  object-fit: contain;
  border-radius: 20px; /* Optional: rounds the corners of your gathering image */
}

@media (max-width: 1024px) {
  .headerInfo {
    flex-direction: column; /* Stacks image under text on tablets */
    text-align: center;
  }

  .headerInfo > div:first-child {
    align-items: center;
    text-align: center;
  }

  .svg-icon {
    max-width: 80%;
    margin-top: 40px;
  }
}

@media (max-width: 780px) {
  .homeSection {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}
