.privacyContainer {
  font-family: Arial, sans-serif;
  padding: 70px;
  margin: auto;
  max-width: 1400px;
  margin-top: 90px;
  margin-bottom: 80px;
}

.privacyContainer li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.privacyContainer .pDiv {
  margin-top: 4px;
  margin-bottom: 20px;
}

.privacyContainer p {
  font-size: 20px;
}

.privacyContainer span {
  font-size: 20px;
}

@media only screen and (max-width: 700px) {
  .privacyContainer {
    margin-top: 120;
    padding: 30px;
  }
  .privacyContainer p {
    font-size: 18px;
  }
  .privacyContainer li {
    font-size: 18px;
  }
}
