.privacyContainer {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.privacyContainer li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(236, 233, 233);
}

.privacyContainer .pDiv {
  margin-top: 4px;
  margin-bottom: 20px;
}

.privacyContainer p {
  font-size: 20px;
  color: rgb(176, 173, 173);
}
