.termsContainer {
  font-family: Arial, sans-serif;
  padding: 70px;
  margin: auto;
  max-width: 1400px;
  margin-top: 90px;
  margin-bottom: 80px;
}

.termsContainer li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.termsContainer .pDiv {
  margin-top: 4px;
  margin-bottom: 20px;
}

.termsContainer p {
  font-size: 20px;
}

@media only screen and (max-width: 700px) {
  .termsContainer {
    margin-top: 120;
    padding: 30px;
  }
  .termsContainer p {
    font-size: 18px;
  }
  .termsContainer li {
    font-size: 16px;
  }
}
