nav {
  width: 100%;
  max-width: 1400px;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 10;
}

nav a {
  text-decoration: none;
  z-index: 100;
}

nav h1 {
  padding: 10px;
}
