.appLinks {
  padding: 20px 20px;
}

.appLinks h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.appLinks p {
  text-align: center;
}

.appLinks-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.appLinks-card {
  border-radius: 8px;
  padding: 10px;
  width: 80px;
  min-width: 100px;
  text-align: center;
  transition: transform 0.3s;
}

.appLinks-card:hover {
  transform: translateY(-5px); /* Lift effect on hover */
}

.appLinks-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.appLinks-card p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: left;
}

@media only screen and (max-width: 900px) {
  .appLinks-card {
    flex: 1;
  }
}
