.appLinks {
  padding: 60px 20px;
}

.icon {
  font-size: 80px;
  margin-bottom: 6px;
  color: rgb(117, 185, 130);
}

.appLinks h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.appLinks p {
  text-align: center;
}

.appLinks-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.appLinks-card {
  background-color: rgba(91, 99, 104, 0.08);
  border-radius: 8px;
  padding: 10px;
  width: 330px;
  min-width: 300px;
  text-align: center;
  transition: transform 0.3s;
}

.appLinks-card:hover {
  transform: translateY(-5px); /* Lift effect on hover */
}

.appLinks-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.appLinks-card p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: left;
}

@media only screen and (max-width: 900px) {
  .appLinks-card {
    flex: 1;
  }
}
