.downloadSection {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.downloadSection section {
  width: 100%;
}

.downloadSection .pDiv {
  margin-top: 10px;
  margin-bottom: 10px;
}

.downloadSection h2 {
  font-size: 60px;
}

.downloadSection p {
  font-size: 24px;
  color: rgb(176, 173, 173);
}

@media only screen and (max-width: 1000px) {
  .downloadSection {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 700px) {
  .downloadSection h2 {
    font-size: 40px;
  }
  .downloadSection {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .downloadSection p {
    font-size: 18px;
    color: rgb(176, 173, 173);
  }
}
