.userProfileSection {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.userProfileSection section {
  width: 100%;
}

.userProfileSection .pDiv {
  margin-top: 10px;
  margin-bottom: 10px;
}

.userProfileSection h2 {
  font-size: 60px;
}

.userProfileSection p {
  font-size: 24px;
  color: rgb(176, 173, 173);
}

.appLinks {
  padding: 60px 20px;
}

@media only screen and (max-width: 1000px) {
  .userProfileSection {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 700px) {
  .userProfileSection h2 {
    font-size: 40px;
  }
  .userProfileSection {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .userProfileSection p {
    font-size: 18px;
    color: rgb(176, 173, 173);
  }
}
